/* Document
   ===================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/**
 * Fix body line height, use flex for element
 * positioning, and center content.
 */
body {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
}

/* Container
   ===================================== */

/**
 * Use relative positioning for the container.
 */
.container {
    position: relative;
}

/**
 * Control any images inside of the container.
 */
.container img {
    margin: 0 auto;
    display: block;
    padding-bottom: 25px;
    width: 160px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.3));
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.3));
}

/**
 * Control the class `title` inside of the container.
 */
.container .title {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    color: #2F2F2F;
}

/**
 * Control the class `description` inside of the container.
 */
.container .description {
    padding-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    max-width: 400px;
    color: #4C4C4C;
}

/**
 * Control links inside of the container.
 */
.container .links {
    text-align: center;
}

.container .links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: inline-block;
}

.link:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.link-github {
    background-color: #353535;
}

.link-discord {
    background-color: #7289DA;
}

/* Footer
   ===================================== */

.footer {
    background-color: #e3e3e3;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 20em;
    bottom: -5em;
    padding: 0.6em;
    height: 1.5em;
    border-radius: 0.3em;
}

/* Preloader
   ===================================== */

body> :not(.preloader), body:before, body:after {
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out
}

body:not(.preloader-done)> :not(.preloader), body:not(.preloader-done):before, body:not(.preloader-done):after {
    opacity: 0
}

.preloader {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.preloader-inactive {
    display: none;
}

.preloader .preloader-progress {
    background: #FFB954;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
    border-radius: 4px;
}

.preloader .preloader-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #FFB954, 0 0 5px #FFB954;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.preloader .preloader-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #FFB954;
    border-left-color: #FFB954;
    border-radius: 10px;
    -webkit-animation: preloader-spinner 400ms linear infinite;
    -moz-animation: preloader-spinner 400ms linear infinite;
    -ms-animation: preloader-spinner 400ms linear infinite;
    -o-animation: preloader-spinner 400ms linear infinite;
    animation: preloader-spinner 400ms linear infinite;
}

@-webkit-keyframes preloader-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes preloader-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes preloader-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes preloader-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloader-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}